@use 'variables' as *;

div.alerts {
  width: 100%;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(16 * $pixel);
  padding: calc(16 * $pixel) 0;
  max-height: calc(100% - (32 * $pixel));
  overflow: scroll;

  button.alert {
    width: 50%;
    background: $manila;
    z-index: 10000;
    text-align: center;

    @media (width < 100dvh) {
      width: 76%;
    }

    &.warning {
      background: $yellow;
    }

    &.error {
      background: $red;
      color: $white;

      * {
        color: $white;
      }

      button.close {
        color: $white;
      }
    }

    button.close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background: none;
      cursor: pointer;
      font-size: $extra-large-font;
      color: $black;
      box-shadow: none;
  
      &:hover, &:active {
        box-shadow: none;
        animation: none;
      }
    }

    div.notification, div.thread {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: calc(8 * $pixel) 0;

      button {
        background: $white;

        &.image-button {
          background: none;
        }

        &.message, &.mark-read {
          font-size: $extra-small-font;
          background: $white;

          @media (width < 100dvh) {
            font-size: $mobile-extra-small-font;
          }
        }

        &.mark-read {
          width: calc(65 * $pixel);
        }

        &.message {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: calc(176 * $pixel);
          min-width: calc(160 * $pixel);

          span.received-indication {
            float: left;
            width: calc(16 * $pixel);
            color: $white;
            font-size: $small-font;
            margin-right: calc(2 * $pixel);
  
            &.received {
              background: $green;
            }
  
            &.sent {
              background: $red;
            }
          }
        }
      }
    }
  }
}
