@use 'variables' as *;

div.avatar {
  span.name {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: $overlay-dark;
    color: $white;
    font-size: $label-font;
    border-radius: calc(2 * $pixel);

    @media (width < 100dvh) {
      font-size: $mobile-label-font;
    }
  }

  &.system {
    img {
      filter: grayscale(100%);
    }
  }
}