@use 'variables' as *;

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(64 * $pixel);
  background-color: $green;

  h1 {
    color: $white;
  }

  button.image-button.map {
    display: none;

    @media (width <= 100dvh) {
      display: block;
    }
  }

  button.image-button.phone.ring {
    animation: ring 300ms linear infinite;
  }

  &.no-auth {
    button {
      span {
        top: calc(4 * $pixel);
      }
    }
  }
}