@use 'variables' as *;
@import './pixel-border';
@import './image';
@import './button';
@import './header';
@import './page';
@import './map';
@import './profile';
@import './modal';
@import './favorites';
@import './notifications';
@import './messages';
@import './threads';
@import './scroll-loader';
@import './avatar';
@import './forum';
@import './post';

@font-face {
  font-family: 'pixel';
  src:
    url('../asset/font1.ttf') format('opentype');
}

* {
  image-rendering: pixelated;
  color: $black;
}

html {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  background: $black;
  font-size: calc(10 * $pixel);
  color: $black;

  body {
    font-family: 'pixel', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    textarea {
      background: $white;
      resize: none;
      font-family: 'pixel', monospace;
      font-size: calc(10 * $pixel);
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;
    }

    input {
      background: $white;
      font-family: 'pixel', monospace;
      font-size: calc(10 * $pixel);
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;
    }

    div.scroll-loader {
      overflow-y: auto;
      max-height: 100%;
    }

    div.forum-form-container {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
      }
    }

    div.page {

      &.post-page {
        div.contents {
          display: flex;
          flex-direction: column;
          height: 76%;
          overflow-y: auto;
          width: calc(576 * $pixel);

          div.posts {
            display: flex;
            flex-direction: column;
            height: 100%;

            div.posts-header {
              height: 24%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            div.scroll-loader {
              height: 76%;
            }
          }
        }
      }

      div.typeahead-container {
        position: relative;
        display: flex;
        flex-direction: column;

        input.typeahead-input {
          height: 100%;
          padding: calc(2 * $pixel) calc(4 * $pixel);
        }

        ul.typeahead-dropdown {
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 100%;
          left: 0;
          width: calc(100% - 4 * $pixel);
          background-color: $white;
          border: calc(2 * $pixel) solid $black;
          border-radius: calc(2 * $pixel);
          max-height: calc(128 * $pixel);
          overflow-y: auto;
          z-index: 2;
          display: flex;
          flex-direction: column;

          li.typeahead-item {
            padding: calc(2 * $pixel);
            cursor: pointer;
            background-color: $white;
            border-bottom: calc(2 * $pixel) solid $black;
            display: flex;

            p {
              display: flex;
              justify-content: space-between;
              margin: calc(2 * $pixel) 0;
              width: 100%;

              span.name {
                font-size: calc(12 * $pixel);
                font-weight: 500;
              }

              span.description {
                font-size: calc(8 * $pixel);
              }
            }

            &.selected {
              background-color: $yellow;
            }
          }
        }
      }

      div.equipment-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div.equipment {
          overflow-y: auto;

          div.item {
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}
