@use 'variables' as *;
@import './pixel-border';
@import './image';
@import './button';
@import './header';
@import './page';
@import './map';
@import './profile';
@import './modal';
@import './favorites';
@import './notifications';
@import './messages';
@import './threads';
@import './scroll-loader';
@import './avatar';
@import './forum';
@import './post';
@import './forum-form';
@import './typeahead';
@import './confirmation-dialog';
@import './error';

@font-face {
  font-family: 'pixel';
  src:
    url('../asset/font1.ttf') format('opentype');
}

* {
  image-rendering: pixelated;
  color: $black;
}

html {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  background: $black;
  font-size: calc(10 * $pixel);
  color: $black;

  body {
    font-family: 'pixel', monospace;

    textarea {
      background: $white;
      resize: none;
      font-family: 'pixel', monospace;
      font-size: calc(10 * $pixel);
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;
    }

    input {
      background: $white;
      font-family: 'pixel', monospace;
      font-size: calc(10 * $pixel);
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;
    }

    div.equipment-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.equipment {
        overflow-y: auto;

        div.item {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
}
