@use 'variables' as *;
@import './pixel-border';
@import './image';
@import './button';
@import './header';
@import './page';
@import './map';
@import './profile';
@import './modal';
@import './favorites';
@import './notifications';
@import './messages';
@import './threads';
@import './scroll-loader';
@import './avatar';
@import './forum';
@import './post';
@import './forum-form';
@import './typeahead';
@import './confirmation-dialog';
@import './error';
@import './signup';
@import './alert';

@font-face {
  font-family: 'pixel';
  src:
    url('../asset/font1.ttf') format('opentype');
}

* {
  image-rendering: pixelated;
  color: $black;
}

html {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  background: $black;
  font-size: $extra-small-font;
  color: $black;

  @media (width < 100dvh) {
    font-size: $mobile-extra-small-font;
  }

  body {
    font-family: 'pixel', monospace;

    @media (width < 72dvh) {
      transform: scaleY(1.1);
    }

    textarea {
      background: $white;
      resize: none;
      font-family: 'pixel', monospace;
      font-size: $extra-small-font;
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;

      @media (width < 100dvh) {
        font-size: $mobile-extra-small-font;
      }
    }

    input {
      background: $white;
      font-family: 'pixel', monospace;
      font-size: $extra-small-font;
      border: calc(2 * $pixel) solid $black;
      outline: none;
      box-shadow: inset calc(1 * $pixel) calc(1 * $pixel) calc(1 * $pixel) $overlay-medium;
      border-radius: 0;

      @media (width < 100dvh) {
        font-size: $mobile-extra-small-font;
      }
    }
  }
}

h1 {
  font-size: $extra-large-font;
  margin: calc(12 * $pixel);
}

h2 {
  font-size: $header-font;
  margin: calc(8 * $pixel);
}

h3 {
  font-size: $large-font;
  margin: calc(4 * $pixel);
}

h4 {
  font-size: $medium-font;
  margin: calc(4 * $pixel);
}