@use 'variables' as *;

div.page {
  position: relative;
  height: calc(640 * $pixel);
  width: calc(640 * $pixel);
  margin: 0;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @media (width <= 100dvh) {
    width: calc(512 * $pixel);
  }
  
  div.page-contents {
    height: calc(576 * $pixel);
    width: calc(576 * $pixel);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(64 * $pixel);

    @media (width <= 100dvh) {
      width: calc(512 * $pixel);
      margin-left: 0;
    }
  }
}
