@use 'variables' as *;

div.page.post-page {
  div.page-contents {
    div.contents {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      width: calc(576 * $pixel);

      div.posts {
        background: $manila;

        div.post {
          border: none;
          border-radius: 0;
          margin: 0;

          div.scroll-loader.post-children {
            height: fit-content;

            div.post {
              border: calc(2 * $pixel) solid $black;
              border-bottom: 0;
              border-top: 0;
              border-radius: 0
            }
          }

          div.post-children-container {
            div.post {
              border: calc(2 * $pixel) solid $black;
              border-bottom: 0;
              border-top: 0;
              border-radius: 0
            }
          }
        }
      }
    }
  }
}

div.posts {
  h3 {
    width: 100%;
    text-align: center;
  }

  button {
    background: $white;

    &.delete {
      background: $red;
      color: $white;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: calc(8 * $pixel);

    textarea {
      height: calc(48 * $pixel);
    }

    button {
      background: $white;
    }
  }

  div.post {
    display: flex;
    flex-direction: column;
    padding: calc(4 * $pixel) calc(8 * $pixel);
    border: calc(2 * $pixel) solid $black;
    border-radius: calc(4 * $pixel);
    background: $manila;
    margin: calc(8 * $pixel) 0;

    &.selected {
      background: $yellow;
    }

    div.post-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        background: $white;

        &.image-button {
          background: none;
        }

        &.delete {
          background: $red;
          color: $white;
        }
      }

      div.rating {
        display: flex;
        align-items: center;

        button {
          height: calc(12 * $pixel);
          width: calc(12 * $pixel);
          background-color: $white;
          padding: 0;

          &.full {
            background-color: $blue;
          }

          &:hover {
            background-color: $black;
          }
        }
      }
    }

    div.post-contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: calc(2 * $pixel);

      button {
        background: $white;

        &.image-button {
          background: none;
        }

        &.post-button {
          width: calc(100% - 136 * $pixel);
        }
  
        &.notepad {
          span {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: $overlay-dark;
            color: $white;
            font-size: calc(8 * $pixel);
            border-radius: calc(2 * $pixel);
          }
        }
      }
    }

    div.post-children-container {
      display: flex;
      flex-direction: column;

      div.post-children {
        div.post {
          margin-top: 0;
          border-bottom: 0;
          border-top: 0;
          border-radius: 0;
        }
      }
    }
  }
}
