@use 'variables' as *;

div.page.signup-page, div.page.login-page {
  background: $manila;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(4 * $pixel);

    div.section {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}