@use 'variables' as *;

div.threads-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(512 * $pixel);
  height: calc(512 * $pixel);
  background: url('../asset/thought-bubble.png');
  background-size: contain;
  background-repeat: no-repeat;

  input.thread-search {
    margin-top: calc(32 * $pixel);
    width: calc(320 * $pixel);
  }

  div.threads {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    margin-top: calc(8 * $pixel);
    height: calc(200 * $pixel);
    width: calc(320 * $pixel);

    div.thread {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      width: calc(304 * $pixel);
      margin-top: calc(2 * $pixel);
      margin-bottom: calc(2 * $pixel);

      button.message, button.mark-read {
        font-size: $extra-small-font;
        background: $white;

        @media (width < 100dvh) {
          font-size: $mobile-extra-small-font;
        }
      }

      button.mark-read {
        width: calc(65 * $pixel);
      }

      button.message {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: calc(160 * $pixel);

        span.received-indication {
          float: left;
          width: calc(16 * $pixel);
          color: $white;
          font-size: $small-font;
          margin-right: calc(2 * $pixel);

          &.received {
            background: $green;
          }

          &.sent {
            background: $red;
          }
        }
      }
    }
  }

  div.buttons {
    margin-bottom: calc(32 * $pixel);
    width: 100%;

    button {
      background: $white;
    }
  }

  div.avatar.self {
    position: absolute;
    left: 0;
    bottom: 0;

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  div.phone-container {
    position: absolute;
    left: calc(128 * $pixel);
    bottom: 0;

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
