@use 'variables' as *;

div.typeahead-container {
  position: relative;
  display: flex;
  flex-direction: column;

  div.selected-options {
    display: flex;
    gap: calc(2 * $pixel);
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(16 * $pixel);

    button {
      background: $green;
      color: $white;

      &:hover {
        background: $red;
      }
    }
  }

  input.typeahead-input {
    padding: calc(2 * $pixel) calc(4 * $pixel);
  }

  ul.typeahead-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 4 * $pixel);
    background-color: $white;
    border: calc(2 * $pixel) solid $black;
    border-radius: calc(2 * $pixel);
    max-height: calc(128 * $pixel);
    overflow-y: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;

    li {
      button.typeahead-item {
        padding: calc(2 * $pixel);
        cursor: pointer;
        background-color: $white;
        border: none;
        border-bottom: calc(2 * $pixel) solid $black;
        display: flex;
        outline: none;
        height: fit-content;
        width: 100%;
        animation: none;
        transform: none;

        p {
          display: flex;
          justify-content: space-between;
          margin: calc(2 * $pixel) 0;
          width: 100%;

          span.name {
            font-size: calc(12 * $pixel);
            font-weight: 500;

            @media (width < 100dvh) {
              font-size: $mobile-small-font;
            }
          }

          span.description {
            font-size: $label-font;

            @media (width < 100dvh) {
              font-size: $mobile-label-font;
            }
          }
        }

        &.selected {
          background-color: $yellow;
        }
      }
    }
  }
}